<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.5.60 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page_Cutter_2">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="480"/>
  <Property Name="Index" Value="13"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="800"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[L0_Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L0_Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[L1_MainControls]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L1_MainControls"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[L2_LSIDEBAR]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L2_LSIDEBAR"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[L3_Tabmenu_cutter]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L3_Tabmenu_cutter"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="3"/>
    </LayerRef>
    <Layer Name="Layer_Cutter_2">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="111971" Value="Cutter"/>
          <Text ID="111994" Value="2"/>
          <Text ID="114448" Value="Supp. overspeed"/>
          <Text ID="114449" Value="Infeed overspeed"/>
          <Text ID="115046" Value="Cut mark min size (mm)"/>
          <Text ID="115047" Value="Cut mark max size (mm)"/>
          <Text ID="117265" Value="Cutter infeed tension (%)"/>
          <Text ID="119725" Value="Main knife home offset (deg)"/>
          <Text ID="119726" Value="Distance, knife 1 -&gt; knife 2"/>
          <Text ID="119727" Value="Distance, Mark -&gt; Knife"/>
          <Text ID="119728" Value="Distance, Mark -&gt; Puncher"/>
          <Text ID="126654" Value="Job mark min size (mm)"/>
          <Text ID="126655" Value="Job mark max size (mm)"/>
          <Text ID="126656" Value="Job mark delay (mm)"/>
          <Text ID="129723" Value="Correction (mm)"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="111971" Value=""/>
          <Text ID="111994" Value=""/>
          <Text ID="114448" Value="Text_3"/>
          <Text ID="114449" Value="Text_3"/>
          <Text ID="115046" Value="Text_3"/>
          <Text ID="115047" Value="Text_3"/>
          <Text ID="117265" Value="Text_3"/>
          <Text ID="119725" Value="Text_3"/>
          <Text ID="119726" Value="Text_3"/>
          <Text ID="119727" Value="Text_3"/>
          <Text ID="119728" Value="Text_3"/>
          <Text ID="126654" Value="Text_3"/>
          <Text ID="126655" Value="Text_3"/>
          <Text ID="126656" Value="Text_3"/>
          <Text ID="129723" Value="Text_2"/>
        </TextLayer>
        <IndexMap>
          <Index ID="111971" Value="25"/>
          <Index ID="111994" Value="48"/>
          <Index ID="114448" Value="2"/>
          <Index ID="114449" Value="3"/>
          <Index ID="115046" Value="5"/>
          <Index ID="115047" Value="6"/>
          <Index ID="117265" Value="11"/>
          <Index ID="119725" Value="7"/>
          <Index ID="119726" Value="8"/>
          <Index ID="119727" Value="9"/>
          <Index ID="119728" Value="10"/>
          <Index ID="126654" Value="13"/>
          <Index ID="126655" Value="14"/>
          <Index ID="126656" Value="15"/>
          <Index ID="129723" Value="18"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="tabSystem">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_82]"/>
          <Property Name="Font" Value="Source[local].Font[Arial16px]"/>
          <Property Name="Height" Value="61"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="25"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_82]"/>
          <Property Name="Width" Value="111"/>
        </Control>
        <Control ClassId="0x00001002" Name="tabSystem1">
          <Property Name="BackColor" Value="7"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Etched]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_89]"/>
          <Property Name="Font" Value="Source[local].Font[Arial12pxBold]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="320"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="48"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="415"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_89]"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_15">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="131"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-5000"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="292"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.supportOverSpeed]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="135"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="294"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_20">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="130"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-5000"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="233"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.mainInfeedOverSpeed]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_22">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="135"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="235"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_21">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="315"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0.1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="116"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.regMarkMinWidth]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="320"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="118"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_22">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="315"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0.1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="175"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.regMarkMaxWidth]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_23">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="320"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="177"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="19"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="131"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="85"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="20"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="351"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.tensionIdealPerc]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="135"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="353"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_27">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="501"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="39"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-320"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="293"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.mainKnifeHomeOffset]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_28">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="505"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_19">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="499"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="200"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="50"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="116"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.knifeDiff]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="505"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="118"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_23">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="499"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="9999"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="500"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="175"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.sensorKnifeDist]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_24">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="505"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="177"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_24">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="499"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="9999"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="500"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="234"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.merger.setting.sensorPunchDist]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_25">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="505"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="236"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_25">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="315"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0.1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="234"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.jobMarkMinWidth]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_26">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="320"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="13"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="236"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_26">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="315"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0.1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="293"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.jobMarkMaxWidth]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_27">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="320"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="295"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_16">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="95"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="316"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="3000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="352"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.setting.jobMarkDelay]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="320"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="354"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_3">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="16"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="54"/>
          <Property Name="Left" Value="131"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="5000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="-0.06"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="115"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.reading.correctionValue]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="173"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="134"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="18"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="115"/>
          <Property Name="Width" Value="153"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_5">
          <Property Name="AddFractionDigits" Value="2"/>
          <Property Name="Border" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="268"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="-0.02"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="116"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.cutter.reading.correctionValueAvg]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="32"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_82">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_89">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Error]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Error"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="5"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[L1_MainControls].Control[Numeric_27]">
      <Property Name="Down" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Left" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Up" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[L1_MainControls].Control[Numeric_28]">
      <Property Name="Down" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_19]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_21]"/>
      <Property Name="Up" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_15]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_27]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_26]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_20]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_20]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_15]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_25]"/>
      <Property Name="Up" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_21]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_22]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_15]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_19]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_16]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_22]">
      <Property Name="Down" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_15]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_23]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_21]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_7]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_20]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_16]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_16]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_15]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_27]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_26]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_24]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_19]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_23]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_21]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_27]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_23]">
      <Property Name="Down" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_22]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_19]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_24]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_27]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_25]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Up" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_25]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_26]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_20]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_26]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_16]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_15]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_27]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_25]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_16]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_21]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_24]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_26]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Error].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_20]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_20]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_22]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Error].Control[Numeric_7]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_25]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_24]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_24]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_22]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[L1_MainControls].Control[Numeric_13]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[L1_MainControls].Control[Numeric_14]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_15]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_20]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_21]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_22]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[L1_MainControls].Control[Numeric_15]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[L1_MainControls].Control[Numeric_16]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[L1_MainControls].Control[Numeric_17]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_7]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_27]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_19]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_23]"/>
    <TabSeqItem Index="17" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_24]"/>
    <TabSeqItem Index="18" Value="Source[local].Layer[L1_MainControls].Control[Numeric_1]"/>
    <TabSeqItem Index="19" Value="Source[local].Layer[L1_MainControls].Control[String_1]"/>
    <TabSeqItem Index="20" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_25]"/>
    <TabSeqItem Index="21" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_26]"/>
    <TabSeqItem Index="22" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_16]"/>
    <TabSeqItem Index="23" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_3]"/>
    <TabSeqItem Index="24" Value="Source[embedded].Layer[Layer_Cutter_2].Control[Numeric_5]"/>
    <TabSeqItem Index="25" Value="Source[local].Layer[L1_MainControls].Control[Numeric_2]"/>
    <TabSeqItem Index="26" Value="Source[local].Layer[L1_MainControls].Control[Numeric_3]"/>
    <TabSeqItem Index="27" Value="Source[local].Layer[L1_MainControls].Control[Numeric_4]"/>
  </TabSequence>
</Page>