<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.5.60 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page_Merger">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="480"/>
  <Property Name="Index" Value="6"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="800"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[L0_Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L0_Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[L1_MainControls]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L1_MainControls"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[L2_LSIDEBAR]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L2_LSIDEBAR"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Layer_Merger">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="110875" Value="Merger"/>
          <Text ID="114877" Value="Merger infeed tension (%)"/>
          <Text ID="115909" Value="Slit / merge"/>
          <Text ID="122105" Value="Punch"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="110875" Value=""/>
          <Text ID="114877" Value="Text_3"/>
          <Text ID="115909" Value=""/>
          <Text ID="122105" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="110875" Value="0"/>
          <Index ID="114877" Value="2"/>
          <Index ID="115909" Value="3"/>
          <Index ID="122105" Value="5"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="tabSystem">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_5]"/>
          <Property Name="Font" Value="Source[local].Font[Arial16px]"/>
          <Property Name="Height" Value="61"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="265"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_5]"/>
          <Property Name="Width" Value="111"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_7">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="19"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="130"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="85"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="20"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="184"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.merger.setting.tensionIdealPerc]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="177"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel2Unlock]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[Locked]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="15"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="134"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="186"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_15">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="186"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[ButtonBigUnChecked]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_77]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="130"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBackColor" Value="187"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[ButtonBigChecked]"/>
          <Property Name="PressedForeColor" Value="16"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="3"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="121"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_77]"/>
          <Property Name="Width" Value="177"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_20">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="186"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[ButtonBigUnChecked]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_54]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="131"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBackColor" Value="187"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[ButtonBigChecked]"/>
          <Property Name="PressedForeColor" Value="16"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlHideC51]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="5"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="247"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_54]"/>
          <Property Name="Width" Value="175"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="251"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="251"/>
          <Property Name="Height" Value="360"/>
          <Property Name="Left" Value="116"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlShowNoMerger]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="111"/>
          <Property Name="Width" Value="562"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_5">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_77">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.merger.setting.enabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_54">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.merger.setting.punchUnitEnabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Error]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Error"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[L1_MainControls].Control[Numeric_27]">
      <Property Name="Down" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Left" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Up" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[L1_MainControls].Control[Numeric_28]">
      <Property Name="Down" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Up" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Merger].Control[Numeric_7]">
      <Property Name="Down" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Error].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Merger].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Merger].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Merger].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Error].Control[Numeric_7]">
      <Property Name="Down" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
    <TabSeqItem Index="1" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
    <TabSeqItem Index="2" Value="Source[local].Layer[L1_MainControls].Control[Numeric_13]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[L1_MainControls].Control[Numeric_14]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Layer_Merger].Control[Numeric_7]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[L1_MainControls].Control[Numeric_15]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[L1_MainControls].Control[Numeric_16]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[L1_MainControls].Control[Numeric_17]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[L1_MainControls].Control[Numeric_1]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[L1_MainControls].Control[String_1]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[L1_MainControls].Control[Numeric_2]"/>
    <TabSeqItem Index="13" Value="Source[local].Layer[L1_MainControls].Control[Numeric_3]"/>
    <TabSeqItem Index="14" Value="Source[local].Layer[L1_MainControls].Control[Numeric_4]"/>
  </TabSequence>
</Page>