<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.7.5.60 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="Page_Folder">
  <Property Name="BackColor" Value="8"/>
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="480"/>
  <Property Name="Index" Value="7"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[default]"/>
  <Property Name="Width" Value="800"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[L0_Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L0_Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[L1_MainControls]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L1_MainControls"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[L2_LSIDEBAR]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="L2_LSIDEBAR"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Layer_Folder">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="480"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="800"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="110883" Value="Folder"/>
          <Text ID="110888" Value="Folding tension (%)"/>
          <Text ID="110889" Value="Folder infeed tension (%)"/>
          <Text ID="123297" Value="Infeed Buttons"/>
          <Text ID="123298" Value="Outfeed Buttons"/>
          <Text ID="131087" Value="Cover Open"/>
          <Text ID="131088" Value="Cover Open"/>
          <Text ID="148098" Value="Folding type"/>
          <Text ID="154623" Value="Margin left (mm)"/>
          <Text ID="154624" Value="Margin right (mm)"/>
          <Text ID="154625" Value="Auto"/>
          <Text ID="154627" Value="Move"/>
          <Text ID="154629" Value="Perf"/>
          <Text ID="157225" Value="1"/>
          <Text ID="157227" Value="2"/>
          <Text ID="157229" Value="3"/>
          <Text ID="157231" Value="4"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="110883" Value=""/>
          <Text ID="110888" Value="Text_3"/>
          <Text ID="110889" Value="Text_3"/>
          <Text ID="123297" Value="Text_12"/>
          <Text ID="123298" Value="Text_12"/>
          <Text ID="131087" Value="Text_7"/>
          <Text ID="131088" Value="Text_7"/>
          <Text ID="148098" Value="Text_3"/>
          <Text ID="154623" Value="Text_3"/>
          <Text ID="154624" Value="Text_3"/>
          <Text ID="154625" Value=""/>
          <Text ID="154627" Value=""/>
          <Text ID="154629" Value=""/>
          <Text ID="157225" Value=""/>
          <Text ID="157227" Value=""/>
          <Text ID="157229" Value=""/>
          <Text ID="157231" Value=""/>
        </TextLayer>
        <IndexMap>
          <Index ID="110883" Value="0"/>
          <Index ID="110888" Value="2"/>
          <Index ID="110889" Value="3"/>
          <Index ID="123297" Value="14"/>
          <Index ID="123298" Value="15"/>
          <Index ID="131087" Value="16"/>
          <Index ID="131088" Value="17"/>
          <Index ID="148098" Value="24"/>
          <Index ID="154623" Value="25"/>
          <Index ID="154624" Value="26"/>
          <Index ID="154625" Value="27"/>
          <Index ID="154627" Value="29"/>
          <Index ID="154629" Value="31"/>
          <Index ID="157225" Value="33"/>
          <Index ID="157227" Value="35"/>
          <Index ID="157229" Value="37"/>
          <Index ID="157231" Value="39"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="46"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.FolderAuto.foldAutoData.perfCylinder.buttonColor]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_198]"/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="581"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="31"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="112"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_198]"/>
          <Property Name="Width" Value="88"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_10">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="46"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.FolderAuto.foldAutoData.moveButtonColor]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_197]"/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="447"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="29"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="111"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_197]"/>
          <Property Name="Width" Value="88"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="BackColor" Value="46"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Flat_black]"/>
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.FolderAuto.foldAutoData.autoButtonColor]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_196]"/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="40"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="314"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedForeColor" Value="0"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[BasicButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="27"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="111"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_196]"/>
          <Property Name="Width" Value="88"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_15">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="78"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="124"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="25"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="356"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.folderAutomation.setting.marginRight]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_23">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="135"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="360"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_14">
          <Property Name="AddFractionDigits" Value="1"/>
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="78"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="124"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="25"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="-25"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="293"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.folderAutomation.setting.marginLeft]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_22">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="128"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="300"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001002" Name="tabSystem">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_6]"/>
          <Property Name="Font" Value="Source[local].Font[Arial16px]"/>
          <Property Name="Height" Value="61"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="0"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="0"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="320"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_6]"/>
          <Property Name="Width" Value="111"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_11">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="78"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="124"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="85"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="20"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="171"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.setting.tensionIdealPerc]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="134"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="175"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_13">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="78"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="124"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="85"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="20"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="110"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.setting.tensionInIdealPerc]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="133"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="3"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="113"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="108"/>
          <Property Name="Left" Value="312"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="173"/>
          <Property Name="Width" Value="368"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_8">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton5]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="330"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="231"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_9">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton4]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="401"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="231"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_10">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton3]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="476"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="231"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_11">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton2]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="547"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="231"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_12">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton1]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="618"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="230"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton1]"/>
          <Property Name="Left" Value="618"/>
          <Property Name="SimulationIndex" Value="4"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[BufferBtn1]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="193"/>
          <Property Name="Width" Value="43"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.btn2Func]"/>
          <Property Name="Left" Value="535"/>
          <Property Name="SimulationIndex" Value="2"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[BufferBtn2]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="193"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.btn3Func]"/>
          <Property Name="Left" Value="465"/>
          <Property Name="SimulationIndex" Value="2"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[BufferBtn3]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="193"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton4]"/>
          <Property Name="Left" Value="392"/>
          <Property Name="SimulationIndex" Value="1"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[FolderBtn4]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="194"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.infeedButton5]"/>
          <Property Name="Left" Value="314"/>
          <Property Name="SimulationIndex" Value="3"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[FolderBtn5]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="194"/>
          <Property Name="Width" Value="84"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_105]"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="617"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="226"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_105]"/>
          <Property Name="Width" Value="53"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_7">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_106]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="548"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="227"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_106]"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_107]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="475"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="227"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_107]"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_9">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_108]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="402"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="226"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_108]"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_109]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="324"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="226"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_109]"/>
          <Property Name="Width" Value="54"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="453"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="157"/>
          <Property Name="Width" Value="86"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="448"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="288"/>
          <Property Name="Width" Value="112"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="108"/>
          <Property Name="Left" Value="311"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="305"/>
          <Property Name="Width" Value="368"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_14">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton5]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="330"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="363"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_15">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton4]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="401"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="363"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_16">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton3]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="476"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="363"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_17">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton2]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="547"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="362"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_18">
          <Property Name="ColorDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton1]"/>
          <Property Name="ColorMap" Value="Source[local].ColorMap[illuRings]"/>
          <Property Name="ColorMapIndexOffset" Value="0"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="0"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="618"/>
          <Property Name="LineWidth" Value="7"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="362"/>
          <Property Name="Width" Value="46"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton1]"/>
          <Property Name="Left" Value="618"/>
          <Property Name="SimulationIndex" Value="4"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[BufferBtn1]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="325"/>
          <Property Name="Width" Value="43"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.btn2Func]"/>
          <Property Name="Left" Value="535"/>
          <Property Name="SimulationIndex" Value="2"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[BufferBtn2]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="325"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.btn3Func]"/>
          <Property Name="Left" Value="465"/>
          <Property Name="SimulationIndex" Value="2"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[BufferBtn3]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="325"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton4]"/>
          <Property Name="Left" Value="392"/>
          <Property Name="SimulationIndex" Value="1"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[FolderBtn4]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="326"/>
          <Property Name="Width" Value="71"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="IndexDatapoint" Value="Source[global].Variable[DataSource.folder.reading.outfeedButton5]"/>
          <Property Name="Left" Value="314"/>
          <Property Name="SimulationIndex" Value="3"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[global].TextGroup[FolderBtn5]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="MultipleTexts"/>
          <Property Name="Top" Value="326"/>
          <Property Name="Width" Value="84"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_11">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_110]"/>
          <Property Name="Height" Value="51"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="617"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="357"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_110]"/>
          <Property Name="Width" Value="53"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_111]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="546"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="357"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_111]"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_13">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_112]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="475"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="358"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_112]"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_113]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="401"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="358"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_113]"/>
          <Property Name="Width" Value="45"/>
        </Control>
        <Control ClassId="0x00001003" Name="HotSpot_15">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_114]"/>
          <Property Name="Height" Value="53"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="323"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[HotSpot]"/>
          <Property Name="Top" Value="359"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_114]"/>
          <Property Name="Width" Value="54"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial36px]"/>
          <Property Name="ForeColor" Value="253"/>
          <Property Name="Height" Value="69"/>
          <Property Name="Left" Value="317"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlShowCoverOpenFolder]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="16"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="211"/>
          <Property Name="Width" Value="358"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="7"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="Font" Value="Source[local].Font[Arial36px]"/>
          <Property Name="ForeColor" Value="253"/>
          <Property Name="Height" Value="68"/>
          <Property Name="Left" Value="318"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlShowCoverOpenFolder]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="17"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="344"/>
          <Property Name="Width" Value="359"/>
        </Control>
        <Control ClassId="0x00001007" Name="Numeric_12">
          <Property Name="AlignmentVertical" Value="Bottom"/>
          <Property Name="BackColor" Value="78"/>
          <Property Name="Border" Value="Source[local].Border[cfgButton]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[smallNum]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="55"/>
          <Property Name="Input" Value="True"/>
          <Property Name="InputCancel" Value="Lost Focus"/>
          <Property Name="InputComma" Value="Explicit"/>
          <Property Name="InputConfirm" Value="Enter"/>
          <Property Name="InputMinus" Value="Normal"/>
          <Property Name="InputNext" Value="Enter"/>
          <Property Name="InputStart" Value="Any Key"/>
          <Property Name="InputTouchpad" Value="Source[local].TouchPad[TouchPad_1]"/>
          <Property Name="InputUpDown" Value="Disabled"/>
          <Property Name="Left" Value="124"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="4"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Output]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="232"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.setting.foldingType]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="14"/>
          <Property Name="Left" Value="134"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Text]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="24"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="237"/>
          <Property Name="Width" Value="168"/>
        </Control>
        <Control ClassId="0x00001002" Name="tabSystem1">
          <Property Name="BackColor" Value="7"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Etched]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_145]"/>
          <Property Name="Font" Value="Source[local].Font[Arial12pxBold]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="127"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="33"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="419"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_145]"/>
          <Property Name="Width" Value="127"/>
        </Control>
        <Control ClassId="0x00001002" Name="tabSystem2">
          <Property Name="BackColor" Value="16"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Etched]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_243]"/>
          <Property Name="Font" Value="Source[local].Font[Arial12pxBold]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="269"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="35"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="419"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_243]"/>
          <Property Name="Width" Value="127"/>
        </Control>
        <Control ClassId="0x00001002" Name="tabSystem3">
          <Property Name="BackColor" Value="16"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Etched]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_244]"/>
          <Property Name="Font" Value="Source[local].Font[Arial12pxBold]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="411"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="37"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="419"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_244]"/>
          <Property Name="Width" Value="127"/>
        </Control>
        <Control ClassId="0x00001002" Name="tabSystem4">
          <Property Name="BackColor" Value="16"/>
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Etched]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_245]"/>
          <Property Name="Font" Value="Source[local].Font[Arial12pxBold]"/>
          <Property Name="Height" Value="55"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="553"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlLevel3Show]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[LeftTabButton]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndex" Value="39"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="419"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_245]"/>
          <Property Name="Width" Value="127"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="251"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="ForeColor" Value="251"/>
          <Property Name="Height" Value="374"/>
          <Property Name="Left" Value="114"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.lineController.reading.guiControlShowNoFolder]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Shape]"/>
          <Property Name="Top" Value="104"/>
          <Property Name="Width" Value="574"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_6">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="None"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_105">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressInfeedButton1]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_106">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressInfeedButton2]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_107">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressInfeedButton3]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_108">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressInfeedButton4]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_109">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressInfeedButton5]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_110">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressOutfeedButton1]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_111">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressOutfeedButton2]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_112">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressOutfeedButton3]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_113">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressOutfeedButton4]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_114">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000161">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.folder.command.pressOutfeedButton5]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_196">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.folderAutomation.command.autoSet]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_197">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.folderAutomation.command.moveNow]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_198">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016B">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.FolderAutomation.folderAutomation.command.buttons.cmdButton_7]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_145">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[Page_Folder]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_243">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[Page_Folder_2]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_244">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[Page_Folder_3]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_245">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000160">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Page" Value="Source[local].Page[Page_Folder_4]"/>
              <Property Name="Target" Value="Page"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <LayerRef Source="Source[local].Layer[Error]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Error"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Hidden"/>
      <Property Name="Z-Order" Value="4"/>
    </LayerRef>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[local].Layer[L1_MainControls].Control[Numeric_27]">
      <Property Name="Down" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Left" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
      <Property Name="Up" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[L1_MainControls].Control[Numeric_28]">
      <Property Name="Down" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_13]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_13]"/>
      <Property Name="Up" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Folder].Control[Numeric_15]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_13]"/>
      <Property Name="Left" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_14]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Folder].Control[Numeric_14]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_15]"/>
      <Property Name="Left" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_12]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Folder].Control[Numeric_11]">
      <Property Name="Down" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Left" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_13]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Folder].Control[Numeric_13]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_11]"/>
      <Property Name="Left" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Right" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_15]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Layer_Folder].Control[Numeric_12]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_14]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Up" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Error].Control[Numeric_6]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_12]"/>
      <Property Name="Left" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_12]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_11]"/>
    </MovementEntry>
    <MovementEntry Control="Source[local].Layer[Error].Control[Numeric_7]">
      <Property Name="Down" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_14]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_12]"/>
      <Property Name="Right" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
      <Property Name="Up" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[local].Layer[L1_MainControls].Control[Numeric_28]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_11]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_13]"/>
    <TabSeqItem Index="3" Value="Source[local].Layer[L1_MainControls].Control[Numeric_27]"/>
    <TabSeqItem Index="4" Value="Source[local].Layer[L1_MainControls].Control[Numeric_13]"/>
    <TabSeqItem Index="5" Value="Source[local].Layer[L1_MainControls].Control[Numeric_14]"/>
    <TabSeqItem Index="6" Value="Source[local].Layer[L1_MainControls].Control[Numeric_15]"/>
    <TabSeqItem Index="7" Value="Source[local].Layer[L1_MainControls].Control[Numeric_16]"/>
    <TabSeqItem Index="8" Value="Source[local].Layer[L1_MainControls].Control[Numeric_17]"/>
    <TabSeqItem Index="9" Value="Source[local].Layer[Error].Control[Numeric_6]"/>
    <TabSeqItem Index="10" Value="Source[local].Layer[Error].Control[Numeric_7]"/>
    <TabSeqItem Index="11" Value="Source[local].Layer[L1_MainControls].Control[Numeric_1]"/>
    <TabSeqItem Index="12" Value="Source[local].Layer[L1_MainControls].Control[String_1]"/>
    <TabSeqItem Index="13" Value="Source[local].Layer[L1_MainControls].Control[Numeric_2]"/>
    <TabSeqItem Index="14" Value="Source[local].Layer[L1_MainControls].Control[Numeric_3]"/>
    <TabSeqItem Index="15" Value="Source[local].Layer[L1_MainControls].Control[Numeric_4]"/>
    <TabSeqItem Index="16" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_12]"/>
    <TabSeqItem Index="17" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_14]"/>
    <TabSeqItem Index="18" Value="Source[embedded].Layer[Layer_Folder].Control[Numeric_15]"/>
  </TabSequence>
</Page>